<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
<nav class="container">
   <div class="left"> 
    <a routerLink="/" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact : true}">Home</a>
    <a routerLink="/catalog/all"  routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact : true}">Catalog</a>
    <a routerLink="/cart" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact : true}">Cart</a>
    </div>
    <div class="right"><a routerLink="/signin" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact : true}" *ngIf="!SignIn()">Sign in</a>
    <a routerLink="/register" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact : true}" *ngIf="!SignIn()" >Register</a>
    <div (click)="SignedOut()"><a *ngIf="SignIn()">Sign Out</a></div>
      </div>

  </nav>

<router-outlet></router-outlet>